.row {
    cursor: pointer;
    display: flex;
    padding: var(--standard-padding);
    color: white;
}

.row:hover:not(.isSelected) {
    background: var(--color-hover);
}

.isSelected {
    background-color: var(--color-highlight);
}
.isSelected :global(.st0) {
    fill: white;
}

.isGreyed {
    color: #aaa;
}

.label {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.action {
    cursor: pointer;
}

.icon {
    width: 13px;
    fill: var(--color-text);
    vertical-align: middle;
}
