.row {
    cursor: pointer;
    display: flex;
    padding: 10px;
    color: white;
}

.row:hover:not(.isSelected) {
    background: var(--color-hover);
}

.isSelected {
    background-color: var(--color-highlight);
}

.isGreyed {
    color: #aaa;
}

.label {
    flex: 1;
}

.action {
    cursor: pointer;
}

.icon {
    width: 13px;
    fill: var(--color-text);
    vertical-align: middle;
}
