.wrapper {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--color-dividers);
    align-items: center;
}

.title {
    color: var(--color-text);
    font-weight: bold;
    flex: 1;
}

.action {
    cursor: pointer;
    width: 13px;
    height: 13px;
    fill: var(--color-text);
    vertical-align: middle;
}
