.wrapper {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid var(--color-dividers);
}

.title {
    color: var(--color-text);
    font-weight: bold;
    flex: 1;
}

.action {
    cursor: pointer;
}

.icon {
    width: 13px;
    fill: var(--color-text);
    vertical-align: middle;
}
