.wrapper {
    background: var(--color-services-bg);
    color: var(--color-text);
    height: 100%;
    overflow-x: hidden;
}

.isLoading {
    animation-name: spin;
    animation-duration: 4000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
