.wrapper {
    background: var(--color-servers-bg);
    color: var(--color-text);
    height: 100%;
    overflow-x: hidden;
}

.form {
    display: flex;
}

.checkboxLabel {
    display: flex;
    align-self: center;
}

.lock {
    width: 13px;
    height: 13px;
    vertical-align: middle;
    padding-right: 2px;
}
