.indent {
    padding-left: 50px;
}

.name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px 10px;
}

.name:hover {
    background: var(--color-hover);
}

.isGreyed {
    color: #aaa;
}

.wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.methods {
    background: var(--color-method-bg);
}
.icon {
    vertical-align: middle;
    padding-right: 10px;
    fill: var(--color-text);
    width: 10px;
    height: 10px;
}
