.button {
    background: var(--color-button-bg);
    border: none;
    padding: 5px 30px;
    height: 30px;
    vertical-align: middle;
    color: var(--color-text);
    font-size: 13px;
    line-height: 20px;
    cursor: pointer;
    white-space: nowrap;
}

.button:hover {
    background: var(--color-hover);
}
