.wrapper {
    position: relative;
    margin-top: calc(var(--standard-padding) * -1);
    background: var(--color-services-bg);
    height: calc(100% + var(--standard-padding));
    width: 100%;
    overflow-x: hidden;
    color: var(--color-text);
}

.toolbarWrapper {
    background: var(--color-dividers);
    padding: var(--standard-padding) 0;
    display: flex;
}

.titleBar {
    display: flex;
    padding: var(--standard-padding);
    border-bottom: 1px solid var(--color-dividers);
    align-items: center;
}

.title {
    color: var(--color-text);
    font-weight: bold;
    flex: 1;
}

.clearButton {
    color: var(--color-highlight);
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}

.hideButtonWrapper {
    margin-right: 6px;
}

.entriesContainer {
    width: 100%;
    text-overflow: ellipsis;
    line-height: 1.5;
}

.date {
    color: var(--color-code-string);
}

.methodName {
    font-weight: bold;
}
