body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    --standard-padding: 10px;
    --color-dividers: #555;
    --color-servers-bg: #444;
    --color-services-bg: #373737;
    --color-service-name-bg: #333333;
    --color-method-bg: #2e2e2e;
    --color-request-bg: #222;
    --color-button-bg: #8d8d8d;
    --color-button-hover: #808080;
    --color-button-active: #737373;
    /* shades of color-highlight */
    --color-button-selected: #5b9368;
    --color-button-selected-active: #4c7b57;
    --color-highlight: #6fa67c;
    --color-text: #fff;
    --color-shadow: #adadad;
    --color-body-text: #222;
    --color-hover: #000;

    /* from monokai codemirror theme */
    --color-code-text: #f8f8f2;
    --color-code-string: #e6db74;

    --color-error-code-text: red;

    background: var(--color-dividers);
}

code {
    font-family: monospace;
}

.CodeMirror {
    height: 100% !important;
}

.CodeMirror-hints {
    padding-bottom: 30px;
}

.CodeMirror-hints-wrapper {
    margin-left: -6px;
    position: absolute;
    z-index: 10;
    background: white;
}

.cm-s-monokai.CodeMirror,
.cm-s-monokai .CodeMirror-gutters {
    background: var(--color-request-bg) !important;
}

/* increase clickable area of resizers */
.Resizer {
    display: block;
    position: relative;
}
.Resizer:after {
    content: '';
    position: absolute;
    z-index: 1;
}
.Resizer.vertical:after {
    height: 100%;
    left: -2px;
    right: -2px;
}
.Resizer.horizontal:after {
    width: 100%;
    top: -1px;
    bottom: -1px;
}
