.input {
    background: var(--color-text);
    padding: 5px;
    height: 20px;
    vertical-align: middle;
    color: var(--color-body-text);
    font-size: 13px;
    line-height: 20px;
    flex: 1;
    width: 50%;
    border: none;
}
.input::placeholder {
    color: var(--color-shadow);
}
