.wrapper {
    background: var(--color-servers-bg);
    color: var(--color-text);
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
}

.row {
    display: flex;
    padding: 5px;
}

.key {
    flex: 1;
    padding-left: 5px;
}

.value {
    padding-left: 5px;
    flex: 4;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.iconWrapper {
    cursor: pointer;
}
.icon {
    width: 13px;
    vertical-align: middle;
    fill: var(--color-text);
    padding-right: 5px;
}
