.wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    border-right: 10px solid var(--color-dividers);
}

.play {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    left: -38px;
    top: 25%;
    width: 70px;
    height: 70px;
}

.copy {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    left: -38px;
    top: 50%;
    border-radius: 35px;
    color: var(--color-text);
    font-size: 13px;
    background-color: var(--color-highlight);
    width: 70px;
    height: 70px;
    border:none;
    outline: none;
    box-shadow: none;
}

.copy:active {
    background-color: var(--color-button-bg);
}

.copy:disabled {
    background-color: var(--color-button-bg);
    cursor: not-allowed;
}

.play :global(.st0) {
    fill: var(--color-highlight);
}

.play :global(.st1) {
    fill: var(--color-text);
}

.play.isLoading :global(.st0) {
    fill: var(--color-button-bg);
}

.play.isLoading :global(.st1) {
    fill: var(--color-button-bg);
}

.play:disabled {
    fill: var(--color-button-bg);
    cursor: not-allowed;
}