.editorWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.toolbar {
    background-color: blue;
}

.responseTime {
    color: white;
    line-height: 30px;
}

.timeValue {
    font-weight: bold;
}

.responseSize {
    color: white;
    line-height: 30px;
}

.sizeValue {
    font-weight: bold;
}

.toolbarWrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
