.wrapper {
    display: flex;
    flex: 1;
    height: 100%;
    border-right: 10px solid var(--color-dividers);
}

.play {
    cursor: pointer;
    position: absolute;
    z-index: 100;
    left: -38px;
    top: 25%;
    width: 70px;
    height: 70px;
}

.play :global(.st0) {
    fill: var(--color-highlight);
}

.play :global(.st1) {
    fill: var(--color-text);
}

.play.isLoading :global(.st0) {
    fill: var(--color-button-bg);
}

.play.isLoading :global(.st1) {
    fill: var(--color-button-bg);
}
