.wrapper {
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid var(--color-dividers);
}

.toolbar {
    background: var(--color-dividers);
    padding: 10px;
}

.containerWrapper {
    flex: 1;
    position: relative;
}
