.wrapper {
    height: calc(100% - 10px);
    display: flex;
    flex-direction: column;
    border-bottom: 10px solid var(--color-dividers);
}

.toolbar {
    background: var(--color-dividers);
    padding: 10px;
}

.containerWrapper {
    position: relative;
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 1;
    overflow: auto;
    display: flex;
}
